@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@300;600;700&display=swap");

body {
  margin: 0%;
  padding: 0%;
}
.violet-btn {
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(28, 34, 148);
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.arrow-btn {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  color: rgb(74, 80, 187);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
}
li {
  display: inline;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
}
h3 {
  text-weight: 600;
  color: black;
}
b {
  color: rgb(74, 80, 187);
}
.motto {
  background-image: url(/images/motto.jpg);
  background-size: cover;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  padding: 50px 5px;
  position: relative;
  z-index: 1;
}

h1 ::before {
  content: "";
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: inherit;
}
.motto ::after {
  box-sizing: border-box;
  margin: 0;
}
.motto-text {
  display: flex;
  margin: 60px 0px 30px;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.motto h1 {
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: none;
}
